<!-- /snippets/collection-sections.liquid -->
<div id="nav-second">
  <div class="container">

   {% assign menu = linklists.[collection.handle] %}

   <ul class="nav nav-pills" data-spy="scroll">  
     <li><a href="#brands">Shop By Brands</a></li>

     {% for link in menu.links   %}

     <li {% if forloop.first == true %} class="active"{% endif %}>
      <a href="{% if link.title == 'More Category' %}#section-more{% else %}#section{% increment | plus: 1 %}{%endif%} ">
        {{ link.title }}
      </a>
    </li>

    {% endfor %}
    
  </ul>

</div><!-- container -->
</div>



{% include 'collection-brands' %} 

<div class="container">

  {% for link in linklists.[collection.handle].links %}


  {% if link.title == 'More Category' %} 

  {% comment %}begin More Category{% endcomment %}

  <div class="large-wall" id="section-more">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="title">

         <p class="categ-title">  
          <a href="{{ link.url }}" class="menu-link"> {{ link.title }} </a>
        </p> 

      </div><!-- title -->
    </div><!-- col-md-12 -->
  </div><!-- row -->
  <div class="row no-margin">


    <ul class="nav nav-tabs">

      {% for sub_link in link.links %}

      <li class="col-md-2">
       <div class="wall">
        <div class="image">
         <a href="{{ sub_link.url }}">
          {% assign collection_sublink = sub_link.object %}
          {% if collection_sublink.image %}
          <div class="img-inline" style="background-image:url({{ collection_sublink | img_url: 'small'  }})">

          </div>
          {% else %}
          <div class="img-inline" style="background-image:url({{  collection_sublink.products.first | img_url: 'small'  }})">

          </div>

          {% endif %}

        </a>

      </div><!-- image -->  
    </div><!-- wall -->

    <h4 class="text-center">{{ sub_link.title | link_to: sub_link.url  }} </h4>

    {% assign grand_child_list_handle = sub_link.title | handle %}

    <ul class="nav nav-pills nav-stacked">
      {% for sub_sub_link in linklists[grand_child_list_handle].links %}
      <li>
        {{ sub_sub_link.title | link_to: sub_sub_link.url }}
      </li>
      {% endfor %}
    </ul>

  </li>

  {% endfor %}  

</ul>


</div><!-- row -->
</div> 

{% comment %}end More Category{% endcomment %}

{% else %}

<div class="large-wall" id="section{% increment %}">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="title">

       <p class="categ-title">  
        <a href="{{ link.url }}" class="menu-link"> {{ link.title }} {% if link.title == 'More Category' %} {% endif %} </a>
      </p> 

    </div><!-- title -->
  </div><!-- col-md-12 -->
</div><!-- row -->
<hr>


<div class="row">

 <div {% cycle 'class="col-md-4"', 'class="col-md-4 pull-right"', 'class="col-md-4"' %}>

  <div class="box-left">
   {% comment %}here show last 8 collection selected from sub-menu {% endcomment %}
   {% assign collection = link.object %}
   <h2>What's hot now </h2>
   <ul class="subnav clearfix">
    {% for sub_link in link.links offset:8 %}

    <li><a href="{{ sub_link.url }}" class="menu-link"> {{ sub_link.title  }}</a></li>

    {% endfor %}
  </ul>

</div><!-- box-left -->
<hr>

<div class="box-left">
  {% comment %}begin product.tags contains 'popular'{% endcomment %}

  <h2>What's popular now </h2>
  <div class="row">
    {% for product in collection.products %}
    {% if product.tags contains 'popular' %}

    {% assign collection_tag = link.object %}

    <div class="col-md-6 col-sm-6 col-xs-12">

      <div class="wall">
        <div class="image">
          <a href="{{  product.url | within: collection_tag  }}" title="{{ product.featured_image.alt | escape }}">
           <div class="img-inline" style="background-image:url({{  product.images.first | img_url: 'small'  }})">
           </div>
         </a>
       </div>   
     </div> 

     <p class="content text-center">
      {{ product.title | truncatewords:2, "" }}
    </p>
  </div>

  {% endif %}
  {% endfor %}
</div>
{% comment %}end product.tags contains 'popular'{% endcomment %}

</div><!-- box-left -->


</div> <!-- col-md-4 -->

<div {% cycle ' class="col-md-8 col-sm-8 col-xs-12 no-padding-left"', 'class="col-md-8 col-sm-8 col-xs-12 no-padding-right"', 'class="col-md-8 col-sm-8 col-xs-12 no-padding-left"' %}>

  <ul class="nav nav-pills nav-stacked">
    <li>


<!-- {% for tag in collection.all_tags %}
    {% if current_tags contains tag %}
    <option value="{{ tag | handle }}" selected>{{ tag }}</option>
    {% else %}
    <option value="{{ tag | handle }}">{{ tag }}</option>
    {% endif %}
    {% endfor %} -->

    {% for sub_link in link.links limit:8  %}

    <div class="col-md-3 ">
      <div class="box">

       <div class="wall">
        <div class="image">

          <!-- extract handle from link title -->

          {% assign newtag = sub_link.title | downcase | replace:' ','-' %}
          {% assign collection_new = collections.[newtag] %}

          <a href="{{ sub_link.url }}">

           {% if collection_new.image %}
           <div class="img-inline" style="background-image:url({{ collection_new | img_url: 'small'  }})">

           </div>
           {% else %}
           <div class="img-inline" style="background-image:url({{  collection_new.products.first | img_url: 'small'  }})">

           </div>

           {% endif %} 
         </a>
         <!-- end -->
       </div>   
     </div> 

     <p class="content text-center">  

      {{ sub_link.title | truncatewords:2, "" }} 
      <!--   <span>{{ sub_link.object.products_count  }} {{items }}</span> -->

      <span>{{  collection_new.products_count }}{% if collection_new.products_count == 1 %} Item {%else %} Items {%endif%}</span>
    </p>  


  </div><!-- box -->
</div><!-- col-md-3 -->

{% endfor %}  


</li>

</ul>

</div>


</div><!-- row -->

</div><!-- wall -->


{%endif%}




{% endfor %}


</div><!-- container -->