<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="sidebar">
      <h3>Categories</h3>

      {% assign menu = linklists.[collection.handle] %}

      <ul class="dropdown-menu menu">  
        {% for link in menu.links %}
        {% if forloop.first %}
        
        {% elsif forloop.index <= 7  %}

        <li class="dropdown-submenu {% if link.active %}active{% endif %}">
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
          {% if link.links != blank %}
          <ul class="dropdown-menu">
            {% for sub_link in link.links %}
            <li>
             <a href="{{ sub_link.url }}">
              {{ sub_link.title }}
            </a>
            {% endfor %}
          </li>
        </ul>
        {% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="col-md-9 col-sm-9 col-xs-12">
  <div class="wall">
    <div class="row">

      <ul class="nav nav-pills nav-stacked">
        {% for link in linklists.[collection.handle].links | limit:6 %}
        {% if forloop.first %}

        {% elsif forloop.index >= 1 %}
        <li>

          <div class="col-md-4">

            <div class="col-md-12">
             <div class="title">
              <p class="categ-title">  
                <a href="{{ link.url }}" class="menu-link"> {{ link.title }} 
                  <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
              </p>  
            </div>
          </div>

          <div class="col-md-6">
      {% comment %}      {% assign collectiontop = link.object %}
            {% if collectiontop.image %}
            <a href="{{ link.url }}" class="thumbnail"> 
              <img class="img-responsive" src="{{ collectiontop | img_url: 'small' }}"  alt="{{ collectiontop.title | escape }}" />
            </a>
            {% else %}
            <a href="{{ link.url }}" class="thumbnail">
              <img class="img-responsive" src="{{ collectiontop.products.first | img_url: 'small' }}"  alt="{{ collectiontop.title | escape }}"  />
            </a>
            {% endif %}{% endcomment %}
            <div class="wall">
              <div class="image">

                <a href="{{ link.url }}">
                 {% assign collectiontop = link.object %}
                 {% if collectiontop.image %}
                 <div class="img-inline" style="background-image:url({{ collectiontop | img_url: 'small'  }})">

                 </div>
                 {% else %}
                 <div class="img-inline" style="background-image:url({{  collectiontop.products.first | img_url: 'small'  }})">

                 </div>

                 {% endif %}
               </a>

             </div>   
           </div>   
         </div>

         <div class="col-md-6">

          {% for sub_link in link.links | limit:4 %}
          <p class="content">
           <a href="{{ sub_link.url }}">
            {{ sub_link.title }}
          </a>
        </p>
        {% endfor %}

        <p class="content all">
          <a href="{{ link.url }}">
           Shop All
         </a>
       </p>

     </div>

   </div>

 </li>
 {% endif %}
 {% endfor %}
</ul>



</div>
</div>
</div>

</div><!-- row -->