{% comment %}{% if section.settings.title != blank %}
<h2>{{ section.settings.title | escape }}</h2>
{% endif %}
<div class="row">
  {% for block in section.blocks limit: section.blocks.size %}
  <div class="col-md-4">
    <div {{ block.shopify_attributes }}>
      {%- assign collection = collections[block.settings.collection] -%}

      <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}">
        {% if collection.image != blank %}
        {{ collection | img_url: '480x480' | img_tag: collection.title }}
        {% elsif collection.products.first != blank %}
        {{ collection.products.first | img_url: '480x480' | img_tag: collection.title }}
        {% elsif collection == empty %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
        {% endif %}

        <p>
          {% if collection == empty %}
          {{ 'homepage.onboarding.collection_title' | t }}
          {% else %}
          {{ collection.title }}
          {% endif %}
        </p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>{% endcomment %}




<div class="carousel-slider black">
 <div class="main-top">
  <div class="row">
    <div class="col-md-6">
      <h4>{{section.settings.collection | upcase | replace: '-', ' '}}</h4>
    </div> 
    <div class="col-md-6">
      <div class="pull-right">
        <h4><a href="collections/{{ section.settings.collection}}">Shop Now</a></h4>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 no-padding-right">
    <div class="main flexslider">
      <ul class="slides">
       {% for block in section.blocks %}

       {% case block.type %}
       {% when 'content' %}

       {% if block.settings.img != blank %}

       <li>
        <div class="sliders">
          <div class="main" style="background-image:url({{ block.settings.img | img_url: 'original' }})">

            <div class="content">
             <h2>{{block.settings.title}}</h2>
             <hr>
             <h3>{{block.settings.description}}</h3>
           </div>

         </div>
       </div>

     </li>

     {% endif %}
     {% endcase %}  
     {% endfor %}
   </ul>
 </div><!-- main flexslider -->


  {% comment %}      <div class="row"><div class="col-md-3">
        {% if section.settings.title != blank %}
        <h2>{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% assign footer_linklist = section.settings.category_link %}
        {% if linklists[footer_linklist].links.size > 0 %}
        <ul>
          {% for link in linklists[footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

      </div> </div>{% endcomment %}

    </div>
    <div class="col-md-6 no-padding-left">

      <div class="col-md-8 no-padding">

        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'collection' %}
        <div class="wall">
          {%- assign collection = collections[block.settings.left-collection] -%}


          <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}">
            {% if collection.image != blank %}
            {{ collection | img_url: 'original' | img_tag: collection.title , 'img-responsive' }}
            {% elsif collection.products.first != blank %}
            {{ collection.products.first | img_url: 'original' | img_tag: collection.title ,'img-responsive' }}
            {% elsif collection == empty %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            {% endif %}

            <div class="content">
              {% if collection == empty %}
              {{ 'homepage.onboarding.collection_title' | t }}
              {% else %}
              {{ collection.description }}
              {% endif %}
            </div>
          </a>
        </div>

        {% endcase %}
        {% endfor %}
      </div>
      <div class="col-md-4 no-padding">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'collection' %}
        <div class="wall" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.right-collection] -%}

          <div class="image">

            <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}">
              <p>
                {% if collection == empty %}
                {{ 'homepage.onboarding.collection_title' | t }}
                {% else %}
                {{ collection.title }}
                {% endif %}
              </p>
              {% if collection.image != blank %}
              {{ collection | img_url: 'original' | img_tag: collection.title , 'img-responsive' }}
              {% elsif collection.products.first != blank %}
              {% comment %}   {{ collection.products.first | img_url: 'original' | img_tag: collection.title , 'img-responsive'}}{% endcomment %}
              <div class="img-inline" style="background-image:url({{ collection.products.first  | img_url: 'original' }})"> 

              </div>

              {% elsif collection == empty %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              {% endif %}
            </a>
          </div>
        </div>

        {% endcase %}
        {% endfor %}

      </div>


      <div class="col-md-4 no-padding abc ">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'collection' %}

        <div class="wall" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.left-collection] -%}

          <div class="image">

            <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}">
              <p>
                {% if collection == empty %}
                {{ 'homepage.onboarding.collection_title' | t }}
                {% else %}
                {{ collection.title }}
                {% endif %}
              </p>
              {% if collection.image != blank %}
              {% comment %}{{ collection | img_url: 'original' | img_tag: collection.title , 'img-responsive' }}{% endcomment %}
              <div class="img-inline" style="background-image:url({{ collection  | img_url: 'original' }})"> 

              </div>

              {% elsif collection.products.first != blank %}
              {% comment %}   {{ collection.products.first | img_url: 'original' | img_tag: collection.title , 'img-responsive'}}{% endcomment %}
              <div class="img-inline" style="background-image:url({{ collection.products.first  | img_url: 'original' }})"> 

              </div>

              {% elsif collection == empty %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              {% endif %}
            </a>
          </div>
        </div>

        {% endcase %}
        {% endfor %}

      </div>
      <div class="col-md-4 no-padding">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'collection' %}


        <div class="wall" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.bottom-middle-collection] -%}

          <div class="image">

            <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}">
              <p>
                {% if collection == empty %}
                {{ 'homepage.onboarding.collection_title' | t }}
                {% else %}
                {{ collection.title }}
                {% endif %}
              </p>
              {% if collection.image != blank %}
              {{ collection | img_url: 'original' | img_tag: collection.title , 'img-responsive' }}
              {% elsif collection.products.first != blank %}
              {% comment %}   {{ collection.products.first | img_url: 'original' | img_tag: collection.title , 'img-responsive'}}{% endcomment %}
              <div class="img-inline" style="background-image:url({{ collection.products.first  | img_url: 'original' }})"> 

              </div>

              {% elsif collection == empty %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              {% endif %}
            </a>
          </div>
        </div>

        {% endcase %}
        {% endfor %}

      </div>
      <div class="col-md-4 no-padding">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'collection' %}



        <div class="wall" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.right-collection] -%}

          <div class="image">

            <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}">
              <p>
                {% if collection == empty %}
                {{ 'homepage.onboarding.collection_title' | t }}
                {% else %}
                {{ collection.title }}
                {% endif %}
              </p>
              {% if collection.image != blank %}
              {{ collection | img_url: 'original' | img_tag: collection.title , 'img-responsive' }}
              {% elsif collection.products.first != blank %}
              {% comment %}   {{ collection.products.first | img_url: 'original' | img_tag: collection.title , 'img-responsive'}}{% endcomment %}
              <div class="img-inline" style="background-image:url({{ collection.products.first  | img_url: 'original' }})"> 

              </div>

              {% elsif collection == empty %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              {% endif %}
            </a>
          </div>
        </div>


        {% endcase %}
        {% endfor %}

      </div>



    </div>

  </div>  
</div>




{% schema %}
{
  "name": "Collection list",
  "class": "collection-list",
  "settings": [
  {
  "id": "collection",
  "type": "collection",
  "label": "Select a Collection"
}
],
"blocks": [
{
  "type": "collection",
  "name": "Collection",
  "settings": [
  {
  "label": "Left Collection",
  "id": "left-collection",
  "type": "collection"
},
{
  "label": "Right Collection",
  "id": "right-collection",
  "type": "collection"
},
{
  "label": "Bottom Left Collection",
  "id": "bottom-left-collection",
  "type": "collection"
},
{
  "label": "Bottom Middle Collection",
  "id": "bottom-middle-collection",
  "type": "collection"
},
{
  "label": "Bottom Right Collection",
  "id": "bottom-right-collection",
  "type": "collection"
}
]
},
{
 "type": "content",
 "name": "FlexSlider",
 "settings": [
 {
 "id": "img",
 "type": "image_picker",
 "label": "Image:"
},  
{
 "id": "title",
 "type": "text",
 "label": "Title:"
},  
{
  "id": "description",
  "type": "textarea",
  "label": "Description:"
}
]
}
],
"presets": [
{
  "name": "Collection list",
  "category": "Collection",
  "blocks": [
  {
  "type": "collection"
}
]
}
]
}
{% endschema %}
