<style>
{% if settings.logo != blank %}
.site-header__logo-image {
  max-width: {{ settings.logo_max_width }}px;
}
{% endif %}
</style>

<header>
  <div class="top-header">

    <div class="container-fluid">
      <div class="row">
       <div id="banner">
        <img class="img-responsive" src="{{ settings.top-banner | img_url: 'master' }}" alt="{{ settings.logo.alt | default: shop.name }}">
      </div>
    </div>
  </div>

  <div class="container">
   <div class="row">
     <div class="col-md-6">
      <ul class="nav nav-pills">
        {% for link in linklists[settings.header-top].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        {% if menus[child_list_handle].links != blank %}
        <li class="site-nav--has-submenu{% if link.active %} active{% endif %}">
          <a href="{{ link.url }}" class="site-nav__link">
            {{ link.title }}
            {% include 'icon-arrow-down' %}
          </a>
          <ul class="site-nav__submenu">
            {% for childlink in menus[child_list_handle].links %}
            <li {% if childlink.active %}class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>

        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
     {% if template.name == 'index' %}
     <h1 itemscope itemtype="http://schema.org/Organization">
      {% else %}
      <div class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
        <a href="/" itemprop="url" class="site-logo{% if settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if settings.logo != blank %}
          {% capture image_size %}{{ settings.logo_max_width }}x{% endcapture %}
          <img src="{{ settings.logo | img_url: image_size }}"
          srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ settings.logo.alt | default: shop.name }}"
          itemprop="logo">
          {% else %}
          {{ shop.name }}
          {% endif %}
        </a>
        {% if template.name == 'index' %}
      </h1>
      {% else %}
    </div>
    {% endif %}
  </div><!-- col-md-2 -->

  <div class="col-md-7">






    <form action="/search" method="get" role="search">
      <label for="Search" class="hidden">
        {{ 'general.search.placeholder' | t }}
      </label>
        <button type="submit" class="btn">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
      <input type="search"
      name="q"
      id="Search"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'general.search.placeholder' | t }}">
    
    </form>

  </div><!-- col-md-8 -->
  <div class="col-md-3">
    <a href="/cart">
      {% include 'icon-cart' %}
      {{ 'layout.cart.title' | t }}
      ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
    </a>

    {% if shop.customer_accounts_enabled %}
    <ul>
      {% if customer %}
      <li>
        {% if customer.first_name != blank %}
        {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
        {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
        {% else %}
        <a href="/account">{{ 'layout.customer.account' | t }}</a>
        {% endif %}
      </li>
      <li>
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
      </li>
      {% else %}
      <li>
        {{ 'layout.customer.log_in' | t | customer_login_link }}
      </li>
      <li>
        {{ 'layout.customer.create_account' | t | customer_register_link }}
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>

</div><!-- row -->
</div><!-- container -->


<!-- mega menu -->
<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse js-navbar-collapse">


      <ul class="nav navbar-nav">
        {% section 'mega-menu' %}
      </ul>

    </div>
    <!-- /.nav-collapse -->
  </nav>
</div>
<!-- end mega menu -->
</header>



