<style>
{% if settings.logo != blank %}
.site-header__logo-image {
  max-width: {{ settings.logo_max_width }}px;
}
{% endif %}
</style>

<header>
  <div class="top-header">

    <div class="container-fluid">
      <div class="row">
       <div id="banner">
        <img class="img-responsive" src="{{ settings.top-banner | img_url: 'master' }}" alt="{{ settings.logo.alt | default: shop.name }}">
      </div>
    </div>
  </div>

  <div class="container">
   <div class="row">
     <div class="col-md-6">
      <ul class="nav nav-pills">
        {% for link in linklists[settings.header-top].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        {% if menus[child_list_handle].links != blank %}
        <li class="site-nav--has-submenu{% if link.active %} active{% endif %}">
          <a href="{{ link.url }}" class="site-nav__link">
            {{ link.title }}
            {% include 'icon-arrow-down' %}
          </a>
          <ul class="site-nav__submenu">
            {% for childlink in menus[child_list_handle].links %}
            <li {% if childlink.active %}class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>

        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
     {% if template.name == 'index' %}
     <h1 itemscope itemtype="http://schema.org/Organization">
      {% else %}
      <div class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
        <a href="/" itemprop="url" class="site-logo{% if settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if settings.logo != blank %}
          {% capture image_size %}{{ settings.logo_max_width }}x{% endcapture %}
          <img src="{{ settings.logo | img_url: image_size }}"
          srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ settings.logo.alt | default: shop.name }}"
          itemprop="logo">
          {% else %}
          {{ shop.name }}
          {% endif %}
        </a>
        {% if template.name == 'index' %}
      </h1>
      {% else %}
    </div>
    {% endif %}
  </div><!-- col-md-2 -->

  <div class="col-md-7">

    <form action="/search" method="get" role="search">
      <label for="Search" class="hidden">
        {{ 'general.search.placeholder' | t }}
      </label>
      <input type="search"
      name="q"
      id="Search"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'general.search.placeholder' | t }}">
      <button type="submit" class="btn">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>

  </div><!-- col-md-8 -->
  <div class="col-md-3">
    <a href="/cart">
      {% include 'icon-cart' %}
      {{ 'layout.cart.title' | t }}
      ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
    </a>

    {% if shop.customer_accounts_enabled %}
    <ul>
      {% if customer %}
      <li>
        {% if customer.first_name != blank %}
        {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
        {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
        {% else %}
        <a href="/account">{{ 'layout.customer.account' | t }}</a>
        {% endif %}
      </li>
      <li>
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
      </li>
      {% else %}
      <li>
        {{ 'layout.customer.log_in' | t | customer_login_link }}
      </li>
      <li>
        {{ 'layout.customer.create_account' | t | customer_register_link }}
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>

</div><!-- row -->
</div><!-- container -->














<!-- mega menu -->
<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse js-navbar-collapse">









      <ul class="nav navbar-nav">

    



       <li class="dropdown mega-dropdown">


        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{section.settings.title}}  </a> 



        <ul class="dropdown-menu dropdown-menu-open  mega-dropdown-menu row">

         {% for block in section.blocks %}

         {% if block.settings.link != blank %}
         <li class="col-sm-3">
           <ul>
             {% for link in linklists[ block.settings.link ].links %}
             {% assign child_list_handle = link.title | handle %}
             {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
          {% comment %}
                <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ link.title }}</a>
                {% endcomment %}
                {% for child_link in linklists[child_list_handle].links %}
                {% assign grand_child_list_handle = child_link.title | handle %}      
                {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}      
                <li class="dropdown-header">
                 <a href="{{ child_link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ child_link.title }}</a>
               </li>
               <li class="dropdown-menu">
                {% for grand_child_link in linklists[grand_child_list_handle].links %}  
                <li>
                  {{ grand_child_link.title | link_to: grand_child_link.url }}
                </li>
                {% endfor %}
              </li>

              {% else %}
              <li>
                {{ child_link.title | link_to: child_link.url }}
              </li>
              {% endif %}
              {% endfor %}


              {% else %}
              <li class="{% if link.active %}active{% endif %}">
               <a href="{{ link.url }}">{{ link.title }}</a>
             </li>
             {% endif %}
             {% endfor %}
           </ul>
         </li>
         {% endif %}
         {% endfor %}







         <li class="col-sm-3">


          <div class="row">
            <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
              <ul>
                <li>
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image" />
                  </a>
                </li>
                <li>
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image" />
                  </a>
                </li>
                <li>
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image" />
                  </a>
                </li>
              </ul>
            </div>
          </div>


        </li>
      </ul>

    </li>


   
    

  </ul>

</div>
<!-- /.nav-collapse -->
</nav>
</div>
<!-- end mega menu -->
</header>

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {% comment %}<header role="banner">
</header>{% endcomment %}







</div>
{% schema %}
{
  "name": "Menu Item",
  "settings": [
  {
  "type": "text",
  "id": "title",
  "label": "Menu Item",
  "default": "Women’s Clothing"
}
],
"blocks": [
{
  "type": "select",
  "name": "MegaMenu Fields",
  "settings": [
  {
  "id": "link",
  "type": "link_list",
  "label": "Menu"
}
]
}
],
  "presets": [
  {
    "name": "Menu Item",
    "category": "MegaMenu Fields ",

    "blocks": [
    {
      "type": "select"
    }
    ]
  }
  ]

}
{% endschema %}


{% javascript %}
$(".dropdown").hover(            
function() {
$('.dropdown-menu-open', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
$(this).toggleClass('open');        
},
function() {
$('.dropdown-menu-open', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
$(this).toggleClass('open');       
}
);
{% endjavascript %}



