
<div class="container-fluid">
  <div class="row">

    <div class="homepage-instagram" data-section-id="{{ section.id }}" data-section-type="instagram">
      {% unless section.settings.title == '' %}
      <h4 class="home__subtitle">{{ section.settings.title}}</h4>
      {% endunless %}
      {% if section.settings.token == '' %}
      <div class="grid-uniform grid--full">
        {% for i in (1..section.settings.instagram_photo_count) %}
        <div class="grid__item col-md-4 {{section.settings.instagram_grid_width_medium}} {{section.settings.instagram_grid_width_small}}">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div id="Instafeed-{{ section.id }}" class="grid-uniform" data-count="6" data-access-token="{{ section.settings.token }}" data-grid="{{section.settings.instagram_grid_width_large}} {{section.settings.instagram_grid_width_medium}} {{section.settings.instagram_grid_width_small}}"></div>
      {% endif %}
    </div>

  </div>
</div>



{% schema %}
{
  "name": "Instagram feed",
  "settings": [
  {
  "type": "text",
  "id": "title",
  "label": "Heading",
  "default": "Shop Our Instagram"
},
{
  "type": "text",
  "id": "token",
  "label": "Instagram access token",
  "info": "[Generate Instagram access token](http://corknine.com/pipeline-docs/instagram/)"
}
]
}
{% endschema %}
