 {% for block in section.blocks %}
 {% case block.type %}
 {% when 'menu' %}


 {%- assign collection_right = collections[block.settings.collection_right] -%}
 {%- assign collection_bottom_left = collections[block.settings.collection_bottom_left] -%} 
 {%- assign collection_bottom_middle = collections[block.settings.collection_bottom_middle] -%} 
 {%- assign collection_bottom_right = collections[block.settings.collection_bottom_right] -%}

 <li class="dropdown mega-dropdown" data-section-type="header-section">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{block.settings.title}}  </a> 

  <ul class="dropdown-menu dropdown-menu-open mega-dropdown-menu row">

    <div class="col-md-9 col-xs-12">
      <!-- begin first menu -->
      {% if block.settings.link1 != blank %}
      <li class="col-md-4">
       <ul>
         {% for link in linklists[ block.settings.link1 ].links %}
         {% assign child_list_handle = link.title | handle %}
         {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
          {% comment %}
                <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ link.title }}</a>
                {% endcomment %}
                {% for child_link in linklists[child_list_handle].links %}
                {% assign grand_child_list_handle = child_link.title | handle %}      
                {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}      
                <li class="dropdown-header">
                 <a href="{{ child_link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ child_link.title }}</a>
               </li>
               <li class="dropdown-menu">
                {% for grand_child_link in linklists[grand_child_list_handle].links %}  
                <li>
                  {{ grand_child_link.title | link_to: grand_child_link.url }}
                </li>
                {% endfor %}
              </li>

              {% else %}
              <li>
                {{ child_link.title | link_to: child_link.url }}
              </li>
              {% endif %}
              {% endfor %}


              {% else %}
              <li class="{% if link.active %}active{% endif %}">
               <a href="{{ link.url }}">{{ link.title }}</a>
             </li>
             {% endif %}
             {% endfor %}
           </ul>
         </li>
         {% endif %}
         <!-- end first menu -->

         <!-- begin second menu -->
         {% if block.settings.link2 != blank %}
         <li class="col-md-4">
           <ul>
             {% for link in linklists[ block.settings.link2 ].links %}
             {% assign child_list_handle = link.title | handle %}
             {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
             {% for child_link in linklists[child_list_handle].links %}
             {% assign grand_child_list_handle = child_link.title | handle %}      
             {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}      
             <li class="dropdown-header">
               <a href="{{ child_link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ child_link.title }}</a>
             </li>
             <li class="dropdown-menu">
              {% for grand_child_link in linklists[grand_child_list_handle].links %}  
              <li>
                {{ grand_child_link.title | link_to: grand_child_link.url }}
              </li>
              {% endfor %}
            </li>

            {% else %}
            <li>
              {{ child_link.title | link_to: child_link.url }}
            </li>
            {% endif %}
            {% endfor %}


            {% else %}
            <li class="{% if link.active %}active{% endif %}">
             <a href="{{ link.url }}">{{ link.title }}</a>
           </li>
           {% endif %}
           {% endfor %}
         </ul>
       </li>
       {% endif %}
       <!-- end second menu -->    

       <!-- begin third menu -->
       {% if block.settings.link3 != blank %}
       <li class="col-md-4">
         <ul>
           {% for link in linklists[ block.settings.link3 ].links %}
           {% assign child_list_handle = link.title | handle %}
           {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
           {% for child_link in linklists[child_list_handle].links %}
           {% assign grand_child_list_handle = child_link.title | handle %}      
           {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}      
           <li class="dropdown-header">
             <a href="{{ child_link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ child_link.title }}</a>
           </li>
           <li class="dropdown-menu">
            {% for grand_child_link in linklists[grand_child_list_handle].links %}  
            <li>
              {{ grand_child_link.title | link_to: grand_child_link.url }}
            </li>
            {% endfor %}
          </li>

          {% else %}
          <li>
            {{ child_link.title | link_to: child_link.url }}
          </li>
          {% endif %}
          {% endfor %}


          {% else %}
          <li class="{% if link.active %}active{% endif %}">
           <a href="{{ link.url }}">{{ link.title }}</a>
         </li>
         {% endif %}
         {% endfor %}
       </ul>
     </li>
     {% endif %}
     <!-- end third menu -->

     <!-- begin bottom sub brands -->
     {% comment %}left part(return first product from that collection){% endcomment %}
     {% if collection_bottom_left != blank %}
     <li class="col-md-4">

      <div class="large-img">
       <div class="row">
        {% if collection_bottom_left.products.size > 0 %}

        {% for product in collection_bottom_left.products %}
        {% if forloop.last  == true  %}
        <a class="shop-now" href="{{ product.url }}">
          <div class="col-md-7">
            <h5>{{ product.title | truncatewords:6 | truncate:35  }}</h5>
          </div>
          <div class="col-md-5">
            <div class="bg">
             <img class="img-responsive" src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.title | escape  }}" />  
           </div>
         </div>
       </a>  
       {% endif %}
       {% endfor %}

       {% endif %}

     </div>
   </div>
 </li>
 {% endif %}
 {% comment %}middle{% endcomment %}

 {% if collection_bottom_middle != blank %}
 <li class="col-md-4">

  <div class="large-img">
   <div class="row">
    {% if collection_bottom_middle.products.size > 0 %}

    {% for product in collection_bottom_middle.products %}
    {% if forloop.last  == true  %}
    <a class="shop-now" href="{{ product.url }}">
      <div class="col-md-7">
        <h5>{{ product.title | truncatewords:6 | truncate:35  }}</h5>
      </div>
      <div class="col-md-5">
        <div class="bg">
         <img class="img-responsive" src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.title | escape  }}" />  
       </div>
     </div>
   </a>  
   {% endif %}
   {% endfor %}

   {% endif %}

 </div>
</div>

</li>
{% endif %}

{% comment %}right{% endcomment %}

{% if collection_bottom_right != blank %}
<li class="col-md-4">

  <div class="large-img">
   <div class="row">
    {% if collection_bottom_right.products.size > 0 %}

    {% for product in collection_bottom_right.products %}
    {% if forloop.last  == true  %}
    <a class="shop-now" href="{{ product.url }}">
      <div class="col-md-7">
        <h5>{{ product.title | truncatewords:6 | truncate:35  }}</h5>
      </div>
      <div class="col-md-5">
        <div class="bg">
         <img class="img-responsive" src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.title | escape  }}" />  
       </div>
     </div>
   </a>  
   {% endif %}
   {% endfor %}

   {% endif %}

 </div>
</div>

</li>
{% endif %}
<!-- end bottom sub brands -->




</div><!-- col-md-9 -->

<div class="col-sm-3">
 <!-- begin right sub brands -->
 <li>
  <div id="small-img">
    <ul>
      {% for product in collection_right.products limit:12 %}
      {% include 'product-grid-item' %}
      {% endfor %}
    </ul>
  </div>
</li>
<!-- end right sub brands -->
</div>


</ul><!-- dropdown-menu -->

</li><!-- dropdown mega-dropdown -->




{% endcase %}
{% endfor %}


{% schema %}
{
  "name": "MEGAMENU FIELDS",
  "class": "dropdown mega-dropdown",
  "settings": [
  ],
  "blocks": [
  {
  "type": "select",
  "name": "MegaMenu Item",
  "settings": [
  {
  "id": "link",
  "type": "link_list",
  "label": "Menu"
}
]
},
{
  "type": "menu",
  "name": "Menu Item",
  "settings": [
  {
  "type": "header",
  "content": "Menu Field"
},
{
  "id": "title",
  "type": "text",
  "label": "Menu Item",
  "default": "Women’s Clothing"
},
{
  "type": "header",
  "content": "Left Section Menu"
},
{
  "id": "link1",
  "type": "link_list",
  "label": "Menu"
},
{
  "type": "header",
  "content": "Middle Section Menu"
},
{
  "id": "link2",
  "type": "link_list",
  "label": "Menu"
},
{
  "type": "header",
  "content": "Right Section Menu"
},
{
  "id": "link3",
  "type": "link_list",
  "label": "Menu"
},
{
  "type": "header",
  "content": "Sub Brands Items Right Part"
},
{
  "id": "collection_right",
  "type": "collection",
  "label": "Select a Collection"
},
{
  "type": "header",
  "content": "Sub Brands Items Bottom Part"
},
{
  "id": "collection_bottom_left",
  "type": "collection",
  "label": "Select a Collection - Left Part"
},
{
  "id": "collection_bottom_middle",
  "type": "collection",
  "label": "Select a Collection - Middle Part"
},
{
  "id": "collection_bottom_right",
  "type": "collection",
  "label": "Select a Collection - Right Part"
}
]
}
]

}
{% endschema %}