<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product" class="product-description">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="form-background">
    <div class="row">

      <div class="col-md-6">
       {% if featured_image != blank %}
       {% include 'product-images' %}
       {% endif %}


     </div>

     <div class="col-md-6">


      <h1>{{ product.title }} </h1>

      
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

      <div data-price-wrapper>
        <label>Price</label>
        <span data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
          {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
        {% endif %}
      </div>
      {% comment %}<p>{{ product.vendor }}</p>{% endcomment %}

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data">


          <div class="form-box">
            {% unless product.has_only_default_variant %}

            {% for option in product.options_with_values %}
            <div class="selector-wrapper js hidden">
              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>

              <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              class="single-option-selector"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
              <option
              value="{{ value | escape }}"
              {% if option.selected_value == value %}selected="selected"{% endif %}>
              {{ value }}
            </option>
            {% endfor %}
          </select>
        </div>
        {% endfor %}
        {% endunless %}

        <select name="id" class="no-js hidden" data-product-select>
          {% for variant in product.variants %}
          <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}">
          {{ variant.title }}
        </option>
        {% endfor %}
      </select>

      {% if product.available and product.variants.size > 1 %}
      {% for option in product.options %}
      {% include 'swatch' with option %}
      {% endfor %}
      {% endif %}
      <div>
        <label>Shipping</label>
        <span>Estimated Delivery Time: 3 days</span>
      </div>

      <div>
        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
        {% comment %}<input type="number" id="Quantity" name="quantity" value="1" min="1">{% endcomment %}
        <div class="product-details__qty-input-wrap">
          <button type="button" class="product-details__qty-adjust product-details__qty-adjust--minus">
            <span class="product-details__text-icon fallback-text" aria-hidden="true">&minus;</span>

          </button>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-details__qty-input">
          <button type="button" class="product-details__qty-adjust product-details__qty-adjust--plus">
            <span class="product-details__text-icon fallback-text" aria-hidden="true">+</span>

          </button>
        </div>
      {% comment %}<div id="variant-inventory">
       {% if product.variants.first.inventory_management == "shopify" %}
       {% if product.variants.first.inventory_quantity > 0 %}
       We currently have {{ product.variants.first.inventory_quantity }} in stock.
       {% else %}
       The product is out of stock
       {% endif %}
       {% else %}
       This product is available
       {% endif %}
     </div>{% endcomment %}

     <span>piece 

       {% if product.variants.first.inventory_management == "shopify" %}
       {% if product.variants.first.inventory_quantity > 0 %}
       ( <span id="variant-inventory">{{ product.variants.first.inventory_quantity }}</span> pieces available )
       {% else %}
       ( The product is out of stock )
       {% endif %}
       {% else %}
       ( This product is available )
       {% endif %}
       
     </span>


   </div>


   <div>
    <label>Contact</label>
    <span>Contact seller now</span>
  </div>

</div>

<a href="#" class="btn"> Add to Wish list</a>

<button
type="submit"
name="add"
data-add-to-cart
{% unless current_variant.available %}disabled="disabled"{% endunless %}>
<span data-add-to-cart-text>
  {% if current_variant.available %}
  {{ 'products.product.add_to_cart' | t }}
  {% else %}
  {{ 'products.product.sold_out' | t }}
  {% endif %}
</span>
</button>
</form>

</div>

{% if section.settings.show_share_buttons %}
{% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
{% endif %}

{% unless product == empty %}
<script type="application/json" data-product-json>
  {{ product | json }}
</script>
{% endunless %}

</div>


</div>{% comment %}row{% endcomment %}

</div>

<div class="row">
  <div class="col-md-2">
    <p>Collumn 1</p>
  </div>
  <div class="col-md-10">
    <div class="rte">

      <!-- Nav tabs -->
      
      <ul class="nav nav-tabs" role="tablist" data-offset-top="930" data-spy="affix">
        <li role="presentation" class="active"><a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">Product Details</a></li>
        <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">Feedback</a></li>
        <li role="presentation"><a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab">Shipping and Payment</a></li>
        <li role="presentation"><a href="#tab4" aria-controls="settings" role="tab" data-toggle="tab">Seller Guarantees</a></li>
      </ul>
      

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tab1">{{ product.description }}</div>
        <div role="tabpanel" class="tab-pane fade" id="tab2"><div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div></div>
        <div role="tabpanel" class="tab-pane fade" id="tab3">{{ pages.shipping-policy.content }}</div>
        <div role="tabpanel" class="tab-pane fade" id="tab4">{{ pages.seller-guarantees.content }}</div>
      </div>
      

    </div>
    
  </div>
</div>

{% include 'related-products' %}

</div>

{% schema %}
{
  "name": "Product pages",
  "settings": [
  {
    "type": "checkbox",
    "id": "show_share_buttons",
    "label": "Show social sharing buttons",
    "default": true
  }
  ]
}
{% endschema %}
